.div-address-form{
  background: #fff;
  border-radius: 2px;
  padding: 12px;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px
}
.card-employee-title {
  color: #858c8f;
  font-weight: bold;
  width: 100%;
}

.card-address-body {
  width: 60%;
}